footer{
    background-color: var(--rw-lightyellow);
    display: flex;
    height: 10vh;
}

.logo-container{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-icons-container{
    display: flex;
    gap: 1em;
}

.social-icons-icon-container{
    background-color: var(--rw-darkyellow);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}