.signup-container{
    background-color: var(--rw-default-light-gray);
    display: flex;
    flex-direction: column;
    padding: 5em;
    border-radius: 16px;
    margin: 5em auto;
    width: 80%;
}

.signup-container form{
    display: flex;
    flex-direction: column;
    gap:1em;
    margin-bottom: 3em;
    width: 30vw;
    margin: 0 auto;
}

.signup-container form input{
    padding: 1em 2em;
    border: none;
    border-radius: 16px;
}