.popular-container h2{
    text-align: center;
}

.popular-cards-container{
    display: flex;
    justify-content: space-between;
    padding: 3em;
}

.popular-card{
    background-color: var(--rw-default-light-gray);
    border-radius: 16px;
    width: 30%;
}

.popular-card img{
    border-radius: 16px 16px 0 0;
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.popular-card-text-container{
    padding: 2em;
}

.popular-card-text-container button{
    margin-top: 2em;
}